@model SistemaDeFacturacion.Models.Cotizaciones

@{
    ViewBag.Title = "DETALLES DE VENTA";
    ViewBag.TituloControlador = "COTIZACIONES";
    ViewBag.InfoPagina = "Informacion de venta realizada";
    ViewBag.TituloVentana = "INFORMACION";
    ViewBag.FooterVentana = "La cotizacion esta en estado Vendido, por tanto no se puede modificar";
    Layout = "~/Views/Shared/Plantilla1.cshtml";
}
<div class="row">
    <div class="col-md-4">
        <div class="panel-primary">
            <div class="panel-heading"><center><strong>DATOS VENTA</strong></center></div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-responsive">
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <strong>Id. Cotizacion:</strong>
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.idCotizacion)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Nit:</strong>
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.nitCliente)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Nombre:</strong>
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.nombre)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Direccion:</strong>
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.direccion)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Fecha:</strong>
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.fecha)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Total :</strong>
                            </td>

                            <td>
                                Q. @Html.DisplayFor(model => model.total)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Vendido por:</strong>
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.usuario)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="panel-primary">
                <div class="panel-heading"><center> <strong>PRODUCTOS VENDIDOS</strong></center></div>
            </div>
            @Html.Partial("_DetallesFactura")
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="col-md-4">
                    <label>Total Cobrado</label>
                </div>
                <div class="col-md-4 bg-red-active">
                    Q. @Html.DisplayFor(model => model.total)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <p>
        <input type="button" disabled class="btn btn-info" value="Actualizar Registro" onclick="location.href='@Url.Action("Edit", "Facturas", new {id = Model.idFactura })'" /> |
        <input type="button" disabled class="btn btn-danger" value="Eliminar Registro" onclick="location.href='@Url.Action("Delete", "Facturas", new {id = Model.idFactura })'" /> |
        <a href="@Url.Action("Index","Cotizaciones")" class="btn btn-success">Regresar a la lista</a>
    </p>
</div>
