@model IEnumerable<SistemaDeFacturacion.Models.Cotizaciones>

@{
    ViewBag.Title = "Cotizaciones Realizadas";
    ViewBag.TituloControlador = "COTIZACIONES";
    ViewBag.InfoPagina = "Lista de Cotizacines realizadas";
    ViewBag.TituloVentana = "Cotizaciones Realizadas";
    ViewBag.FooterVentana = "El estado de la cotizacion deduce si se convirtio en venta o solo se cotizo";
    Layout = "~/Views/Shared/Plantilla1.cshtml";
}
<p>
    <a href="@Url.Action("Cotizar","Cotizar")" class="btn btn-primary" role="button">CREAR NUEVA COTIZACION</a>
</p>
<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
               Id
            </th>
            <th>
               Cliente
            </th>
            <th>
                Fecha
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idCotizacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    <form id="fDetalles" action="Details" method="get">
                        <input type="hidden" id="id" name="id" value="@item.idCotizacion" />
                        <input type="submit" id="btnDetalles" value="Ver Detalles" formaction="Details" class="btn btn-info" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script>
        $(document).ready(function () {
            $('#example1').DataTable({
                "language": {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
        });
    </script>
}
