@model SistemaDeFacturacion.Models.Sucursales

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Plantilla1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sucursales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idSucursal }) |
    @Html.ActionLink("Back to List", "Index")
</p>
