@using SistemaDeFacturacion.Models;

@{ 
    List<DetallesCompra> detalles = new List<DetallesCompra>();
    if (ViewBag.Detalles ==null)
    {

    }
    else
    {
        detalles = (List<DetallesCompra>)ViewBag.Detalles;
    }
}

<table class="table table-bordered table-responsive table-striped">
    <thead>
        <tr>
            <td colspan="5" class="bg-info"><center>DETALLES DE PRODUCTOS COMPRADOS</center></td>
        </tr>
        <tr>
            <th>
                Id 
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Producto
            </th>
            <th>
               Precio
            </th>
            <th>
               SubTotal
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in detalles)
        {
            <tr>
                <td>
                   @item.idDetalle
                </td>
                <td>
                    @item.cantidad
                </td>
                <td>
                    @item.idProducto , @item.Productos.nombre
                </td>
                <td>
                   Q. @item.precio
                </td>
                <td>
                    Q. @item.subTotal
                </td>
                
            </tr>
        }
    </tbody>
</table>
