@model SistemaDeFacturacion.Models.Categorias

@{
    ViewBag.Title = "Crear Categoria";
    ViewBag.TituloControlador = "CATEGORIA DE PRODUCTOS";
    ViewBag.InfoPagina = "Crear Nueva Cateroria";
    ViewBag.TituloVentana = "Formulario Registro para categoria de productos";
    ViewBag.FooterVentana = "Todos los datos son requeridos para mejor control del sistema.";
    Layout = "~/Views/Shared/Plantilla1.cshtml";
}
<div class="row">
    <div class="col-md-12">

        <div class="col-md-6">
            <center><h4>Informacion de la Categoria</h4></center>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal ">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.idCategoria, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.idCategoria, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
                            @Html.ValidationMessageFor(model => model.idCategoria, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @required = "true", @title = "Ingrese el nombre de la categoria" } })
                            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control", @required = "true", @title = "Debe ingresar la descripcion de la categoria" } })
                            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.imagen, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.imagen, new { htmlAttributes = new { @class = "form-control" } })
                            <input type="file" name="imagen" id="imagen" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Crear Categoria" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="col-md-5">
            <div class="alert alert-default alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Aviso!</strong> 
                <p class="text text-justify">
                    Por favor, asegurese de que la categoria no exista en la lista anterior, y trate de no eliminar las categorias de la lista
                    ya que si lo hace posiblemente el sistema pierda integridad referencial.
                    <br />
                    Si tiene alguna duda consulte con el administrador
                    </p>
            </div>
        </div>
       
    </div>
</div>
<div class="row">
    <center> <a href="@Url.Action("Index","Categorias")" class="btn btn-success">Ver Lista de Categorias</a> </center>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
