@model IEnumerable<SistemaDeFacturacion.Models.Proveedores>

@{
    ViewBag.Title = "Listado de Proveedores";
    ViewBag.TituloControlador = "PROVEEDORES";
    ViewBag.InfoPagina = "Proveedores Registrados en el sistema";
    ViewBag.TituloVentana = "Listado de Proveedores Registrados";
    ViewBag.FooterVentana = "Esta tabla muestra el registro de todos los proveedores de quienes se ha comprado mercaderia";

    Layout = "~/Views/Shared/Plantilla1.cshtml";
}
<p>

    <a href="@Url.Action("Create","Proveedores")" class="btn btn-primary" role="button">Crear Nuevo</a>
</p>
<table class="table table-bordered table-responsive" id="example1">
    <thead>
        <tr>
            <td colspan="7" class="bg-info"><center><strong>LISTADO DE PROVEEDORES REGISTRADOS</strong></center></td>
        </tr>
        <tr>
            <th>
                Id
            </th>
            <th>
                Empresa
            </th>
            <th>
                Contacto
            </th>
            <th>
                Direccion
            </th>
            <th>
                Telefono
            </th>
            <th>
                Email
            </th>


            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idProveedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>


                <td>
                    <input type="button" class="btn btn-info" value="Detalles" onclick="location.href='@Url.Action("Details", "Proveedores", new {id = item.idProveedor})'" />
                </td>
            </tr>

        }
    </tbody>
</table>


@section scripts{
    <script>
        $(document).ready(function () {
            $('#example1').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                // tenemos que utilizar le dom para poder exportar 
                dom: 'Bfrtip',
                //permite mostrar entidades
                lengthMenu: [
                    [10, 25, 50, -1],
                    ['10 filas', '25 filas', '50 filas', 'Mostrar todo']
                ],
                // los botones a mostrar
                buttons: [
                    ///boton para mostrar registros
                    {
                        extend: 'pageLength',
                        text: 'No. Filas <span class=".glyphicon glyphicon-plus">'
                    },
                    //boton para seleccionar columnas a mostrar
                    {
                        extend: 'colvis',
                        text: 'Ocultar Columnas  <span class="glyphicon glyphicon-resize-horizontal">'

                    },
                    //creamos otro objeto boton anidado

                    {
                        extend: 'collection',
                        text: 'Exportar  <span class="glyphicon glyphicon-share-alt">',
                        buttons: [
                            //boton para copiar los elementos
                            {
                                extend: 'copyHtml5',
                                text: 'Copiar'

                            },
                            //boton para imprimir
                            {
                                extend: 'print',
                                text: 'Imprimir',
                                exportOptions: {
                                    columns: ':visible'
                                }
                            },
                            //boton para exportar a excel
                            {
                                extend: 'excelHtml5',
                                text: 'Excel',
                                exportOptions: {
                                    columns: ':visible'
                                }
                            },
                            //boton para exportar a pdf
                            {
                                extend: 'pdfHtml5',
                                text: 'Pdf',
                                download: 'open',
                                exportOptions: {
                                    columns: ':visible'
                                }
                            }
                        ]
                    }
                ]
            });
        });
    </script>


}
