@using SistemaDeFacturacion.Models
@{
    List<TipoPago> tipos = new List<TipoPago>();
    if (ViewBag.TipoPago == null)
    {

    }
    else
    {
        tipos = (List<TipoPago>)ViewBag.TipoPago;
    }
}
<div class="row">
    <div class="col-md-12">
        <center> <h4 class="h4">DATOS A FACTURAR</h4></center>
        <center>
            <form id="form1" method="post" action="@Url.Action("RealizarVenta","Facturar")">
                <div class="form-inline form-group">
                    <label>Nit:</label>
                    <input type="text" name="nitCliente" id="nitCliente" class="form-inline" required value="@Model.nitCliente" />
                    <label>Nombre:</label>
                    <input type="text" name="nombre" id="nombre" class="form-inline" required value="@Model.nombre" />
                    <label>Fecha:</label>
                    <input type="text" name="fecha" id="fecha" class="form-inline" readonly value="@DateTime.Now" />
                    <label>tipoPago:</label>
                    <select class="selectpicker " title="tipo pago" data-live-search="true" id="tipoPago" name="tipoPago" required>
                        <option></option>
                        @foreach (var t in tipos)
                        {
                            <option value="@t.id" data-tokens="@t.id @t.nombre">  @t.nombre</option>
                        }
                    </select>
                </div>
                <input type="hidden" name="id" id="id" value="@Model.idCotizacion" />
                <input type="submit" name="btnVenta" formaction="@Url.Action("RealizarVenta","Facturar")" value="Realizar venta" class="btn btn-primary" />
                <input type="submit" name="btnVenta" formaction="@Url.Action("Facturar","Facturar")" value="FACTURAR" class="btn btn-danger" />
                <!-- Button trigger modal
                <button type="button" class="btn btn-primary" id="btnFacturar" name="btnFacturar" >
                    Facturar
                </button>
                -->
            </form>
        </center>
    </div>
</div>
