@model IEnumerable<SistemaDeFacturacion.Models.Facturas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Plantilla1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cotizaciones.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPago1.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cotizaciones.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPago1.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idFactura }) |
            @Html.ActionLink("Details", "Details", new { id=item.idFactura }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idFactura })
        </td>
    </tr>
}

</table>
