@using SistemaDeFacturacion.Models;
@{ 
    Clientes cliente = new Clientes();
    if (Session["ClienteC"].ToString() == "")
    {
        // ViewBag.ErrorCliente = "Ingrese los datos del cliente";
        cliente = new Clientes();
    }
    else
    {
        cliente = (Clientes)Session["ClienteC"];
    }
    //recuperamos la lista de clientes
    List<Clientes> clientes = new List<Clientes>();
    if(ViewBag.Clientes==null)
    {

    }
    else
    {
        clientes = (List<Clientes>)ViewBag.Clientes;
    }
}

<div class="row">
    <div class="col-md-12">
        <form id="fBuscarCliente" action="BuscarCliente" method="post" class="form-inline">
            <div class="form-inline">
                <div class="col-md-3">
                    <div class="col-md-10">
                        <label>Cotizacion No.</label> <label class="text-red Bold">@Session["idCotizacion"] </label>                       
                    </div>                                   
                </div>
                <div class="col-md-5">
                    <select class="selectpicker" data-live-search="true" id="nitCliente" name="nitCliente" required title="Nit a buscar">
                        <option></option>
                        @{
                            foreach (var c in clientes)
                            {
                                <option value="@c.nit" data-subtext="@c.direccion" data-tokens="@c.nit @c.nombre">@c.nit, @c.nombre</option>
                            }
                        }
                    </select>
                    <input type="submit" value="Buscar" class="btn btn-info" />
                </div>  
                <div class="col-md-3">
                    <button data-toggle="collapse" data-target="#demo" class="btn btn-danger form-control">Registrar Nuevo Cliente</button>      
                </div>
            </div>
        </form>
    </div>
</div>
<div id="demo" class="collapse">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <form id="fCargarCliente" action="CargarCliente" method="post" class="form-horizontal">
                    <center><h4>Ingrese los datos del cliente</h4></center>
                    <div class="row">
                        <div class="form-inline">
                            <div class="row col-md-12">
                                <div class="col-md-4">
                                    <div class="col-md-4">
                                        <label>Nit:</label>
                                    </div>
                                    <input type="text" name="nitCliente" id="nitCliente" value="@cliente.nit" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-4">
                                        <label>Nombre:</label>
                                    </div>
                                    <input type="text" name="nombre" id="nombre" value="@cliente.nombre" required class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-4">
                                        <label>Direccion:</label>
                                    </div>
                                    <input type="text" name="direccion" id="direccion" value="@cliente.direccion" required class="form-control" />
                                    <input type="hidden" name="idFactura" id="idFactura" value="@Session["idCotizacion"]" class="form-control" required readonly />
                                    <input type="hidden" name="fecha" id="fecha" value="@DateTime.Now.Date" class="form-control" required readonly />

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-md-12">
                            <center>
                                <input type="submit" value="Cargar Cliente" class="btn btn-primary" />
                                <input type="reset" value="Borrar Datos" class="btn btn-warning" />
                            </center>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


