@using SistemaDeFacturacion.Models;

@{ 
    List<DetallesCotizacion> detalles = new List<DetallesCotizacion>();
    if (Session["DetallesC"].ToString() == "")
    {

    }
    else
    {
        detalles = (List<DetallesCotizacion>)Session["DetallesC"];
    }
}
<div class="col-md-12">
    <div class=" table table-responsive table-bordered table-hover  " >
        <table class="table table-responsive table-bordered table-striped" id="table1" >
            <thead>
                <tr>
                    <td colspan="7" class="bg-black"><center>DETALLES DE PRODUCTOS</center></td>
                </tr>
                <tr>
                    <th>
                        Id
                    </th>

                    <th>
                        Cantidad
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Descuento
                    </th>
                    <th>
                        SubTotal
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in detalles)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.idDetalle)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.idProducto)
                            @Html.DisplayFor(modelItem => item.Productos.nombre)
                        </td>
                        <td>
                          Q. @Html.DisplayFor(modelItem => item.precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descuento) %
                        </td>
                        <td>
                          Q. @Html.DisplayFor(modelItem => item.subTotal)
                        </td>


                        <td>
                            @Html.ActionLink("Editar", "EditarDetalle", new {  id=item.idDetalle  }) |
                            @Html.ActionLink("Eliminar", "EliminarDetalle", new {  id=item.idDetalle  })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
@section scripts {
    <script>
            $(document).ready(function () {
                $('#table1').DataTable({
                    "language": {

                        "sProcessing": "Procesando...",

                        "sLengthMenu": "Mostrar _MENU_ registros",

                        "sZeroRecords": "No se encontraron resultados",

                        "sEmptyTable": "Ningún dato disponible en esta tabla",

                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",

                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",

                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",

                        "sInfoPostFix": "",

                        "sSearch": "Buscar:",

                        "sUrl": "",

                        "sInfoThousands": ",",

                        "sLoadingRecords": "Cargando...",

                        "oPaginate": {

                            "sFirst": "Primero",

                            "sLast": "Último",

                            "sNext": "Siguiente",

                            "sPrevious": "Anterior"

                        },

                        "oAria": {

                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",

                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                        }

                    }
                });
            });
    </script>


}