
@using SistemaDeFacturacion.Models;

@{
    ViewBag.Title = "CREAR COTIZACION";
    ViewBag.TituloControlador = "COTIZAR";
    ViewBag.InfoPagina = "Vista para crear una Cotizacion";
    ViewBag.TituloVentana = "Datos de la Cotizacion";
    Layout = "~/Views/Shared/Plantilla1.cshtml";
    ViewBag.idFactura = "1";
    //Creamos los objetos a utlilizar en esta pagina
    Cotizaciones coti = new Cotizaciones();

    Clientes cliente = new Clientes();
    if (Session["ClienteC"].ToString() == "")
    {
        // ViewBag.ErrorCliente = "Ingrese los datos del cliente";
        cliente = new Clientes();
    }
    else
    {
        cliente = (Clientes)Session["ClienteC"];
    }
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body">
                <div class="box-group" id="accordion">

                    @{
                        if ( String.IsNullOrEmpty(cliente.nombre))
                        {

                             <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                            <div class="panel box box-primary">
                                <div class="box-header with-border">
                                    <center>
                                        <h4 class="box-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                INFORMACION DE LA COTIZACION
                                            </a>
                                        </h4>
                                    </center> 
                                </div>

                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="box-body">
                                        @Html.Partial("_Cliente")
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                             <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                            <div class="panel box box-primary">
                                <div class="box-header with-border">
                                    <center>
                                        <h4 class="box-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                <strong><text class="text-red ">COTIZACION:</text></strong>
                                                <strong>  <text class="text-blue">Num: </text></strong>
                                                <text class="text-black">@Session["idCotizacion"] ,</text>
                                                <strong><text class="text-blue">Nit: </text></strong>
                                                <text class="text-black">@cliente.nit ,</text>
                                                <strong><text class="text-blue">Nombre: </text></strong>
                                                <text class="text-black">@cliente.nombre ,</text>
                                                <strong><text class="text-blue">Direccion: </text></strong>
                                                <text class="text-black">@cliente.direccion </text>, 
                                                <text class="text-bold tex-red" >Click para Modificar</text>
                                            </a>
                                        </h4>
                                    </center> 
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="box-body">
                                        @Html.Partial("_Cliente")
                                    </div>
                                </div>
                            </div>
                        }
                            <div class="panel box box-success">
                                <div class="box-header with-border">
                                    <center>
                                        <h4 class="box-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                <strong><text class="text-black">   DETALLES DE COMPRA</text> </strong> 
                                            </a>
                                        </h4>
                                    </center>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse in">
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                @Html.Partial("_Productos")
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                @Html.Partial("_Detalles")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                    }
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<!-- END ACCORDION & CAROUSEL-->

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_TotalCotizacion")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
