@using SistemaDeFacturacion.Models;
@{
    List<DetallesCompra> detalles = new List<DetallesCompra>();
    if (Session["detCompra"] == null || Session["detCompra"].ToString() == "")
    {

    }
    else
    {
        detalles = (List<DetallesCompra>)Session["detCompra"];
    }

}
<div class="panel panel-info">
    <div class="panel-heading"><center><strong>DETALLES AGREGADOS A LA COMPRA</strong></center></div>
    <div class="panel-body">
        <table class="table table-responsive table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        No.
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Producto
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        PreVenta
                    </th>
                    <th>
                        SubTotal
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            @foreach (var item in detalles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.idDetalle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Productos.nombre)
                    </td>
                    <td>
                        Q @Html.DisplayFor(modelItem => item.precio)
                    </td>
                    <td>
                        Q @Html.DisplayFor(modelItem => item.precioVenta)
                    </td>
                    <td>
                        Q @Html.DisplayFor(modelItem => item.subTotal)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "EditarDetalle", new { id = item.idDetalle }) |
                        @Html.ActionLink("Eliminar", "EliminarDetalle", new { id = item.idDetalle })
                    </td>
                </tr>
            }


        </table>


    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="col-md-4 text-right">
                        <label>Total Q</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" step="0.01" name="totalCompra" id="totalCompra" class="form-control bg-red" value="@Session["totalCompra"]" readonly />
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>



